trigger:
- main

pr:
- main

schedules:
- cron: "0 0 * * *"
  displayName: Nightly Build
  branches:
    include:
    - main
  always: true

variables:
- name: ndkVersion
  value: 28.2.13676358

jobs:
  # WIN32
  - template: jobs/win32.yml
    parameters:
      name: Win32_x86_Chakra
      platform: win32
      jsEngine: Chakra

  - template: jobs/win32.yml
    parameters:
      name: Win32_x64_Chakra
      platform: x64
      jsEngine: Chakra

  - template: jobs/win32.yml
    parameters:
      name: Win32_x64_JSI
      platform: x64
      jsEngine: JSI

  - template: jobs/win32.yml
    parameters:
      name: Win32_x64_V8
      platform: x64
      jsEngine: V8

  # UWP
  - template: jobs/uwp.yml
    parameters:
      name: UWP_x64_Chakra
      platform: x64
      jsEngine: Chakra

  - template: jobs/uwp.yml
    parameters:
      name: UWP_x64_JSI
      platform: x64
      jsEngine: JSI

  - template: jobs/uwp.yml
    parameters:
      name: UWP_arm64_JSI
      platform: arm64
      jsEngine: JSI

  - template: jobs/uwp.yml
    parameters:
      name: UWP_x64_V8
      platform: x64
      jsEngine: V8

  # Android
  - template: jobs/android.yml
    parameters:
      name: Android_JSC
      jsEngine: JavaScriptCore

  - template: jobs/android.yml
    parameters:
      name: Android_V8
      jsEngine: V8

  # macOS
  - template: jobs/macos.yml
    parameters:
      name: 'macOS_Xcode164'
      vmImage: 'macOS-latest'
      xCodeVersion: 16.4

  - template: jobs/macos.yml
    parameters:
      name: 'macOS_Xcode164_Sanitizers'
      vmImage: 'macOS-latest'
      xCodeVersion: 16.4
      enableSanitizers: true

  # iOS
  - template: jobs/ios.yml
    parameters:
      name: 'iOS_Xcode164'
      vmImage: 'macOS-latest'
      xCodeVersion: 16.4
      simulator: 'iPhone 16'

  - template: jobs/ios.yml
    parameters:
      name: 'iOS_Xcode152'
      vmImage: 'macOS-14'
      xCodeVersion: 15.2
      simulator: 'iPhone 15'

  # Linux
  - template: jobs/linux.yml
    parameters:
      name: Ubuntu_gcc

  - template: jobs/linux.yml
    parameters:
      name: Ubuntu_clang
      cc: clang
      cxx: clang++

  - template: jobs/linux.yml
    parameters:
      name: Ubuntu_Sanitizers_clang
      enableSanitizers: true
      cc: clang
      cxx: clang++
